[Unit]
Description=Fake minecraft server
Wants=network-pre.target
After=network-pre.target NetworkManager.service systemd-resolved.service

[Service]
ExecStart=/usr/bin/python3 /opt/minecraft-standby/main.py
WorkingDirectory=/opt/minecraft-standby

Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target